.shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 100;

    .modal {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 600px;

        .modal-footer {
            display: flex;
            justify-content: center;

            button {
                margin-right: 20px;
            }
        }
    }
}



