.card {
    .card-shadow {
        display: none;
    }

    &.done,
    &.inProgres {
        .card-shadow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0, .6);
            z-index: 90;
        }
    }

    label {
        position: absolute;
        z-index: 100;
        right: 0;
        transform: translate(60%, -20%);
    }

    .card-action {
        display: flex;
        justify-content: space-between;
    }
}
