.auth-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 340px;
    min-width: 300px;
    text-align: center;

    &.card-panel {
        margin: 0;
        padding: 1.2rem;
    }
    
    button {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .form-error {
        margin: 10px 0;
        color: red;
    }
}
